body {
	background-color: #1087ad;
	width: 600px;
	margin: 0 auto;
}

.navigator {
	display: flex;
	gap: 20px;
}
.navigator a {
	text-decoration: none;
}
.navigator a:hover {
	background-color: green;
}
.main-section {
	display: flex;
    color: white;
}
