body {
	background-color: #1087ad;
	width: 600px;
	margin: 0 auto;
}

.navigator {
	display: flex;
	gap: 20px;
}
.navigator a {
	text-decoration: none;
}
.navigator a:hover {
	background-color: green;
}
.main-section {
	display: flex;
	color: white;
}
.images img {
	/* width: 300px; */
	display: flex;
	/* height: 100%; */
}
.images {
	display: flex;
}
.image1,
.image2 {
	/* width: 50%; */
}
img {
	width: 100%;
}
